
.login-main{
   height: 90vh;
   display: flex;
}


.login{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    margin: auto;
    align-items: center;
}

.login>input{
    padding: 10px;
    width: 100%;
}